@import 'normalize';


.wrapper {
	background-color: black;
	display:block;

}


////logo///

.logo{
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 25px;
	width: 150px;
	height: auto;
}

.logo img{
	width: 100%;
}

///////////////NAV////////

nav{


}

nav ul {
    list-style-type: none;
    // margin-bottom: 50px;
    padding: 0;
    overflow: hidden;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display:flex;
	flex-direction:column;

	
}

nav li {
	margin-bottom: 50px;

   
}

nav li a {

    display: inline-block;
    color: white;
    font-weight: bold;
    // text-shadow: 0px 0px 2px white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}



span {
    opacity: 0;
}

span:hover {
    opacity:0.9;
}

.material-icons:hover {
    color: red;

}


///////////slideshow///////////////
.header_image{

}


.header_image img{
	top:0;
	left:0;
	max-width: 100%;

}


// .marquee{
// 	font-family: 'Kaushan Script', cursive;
// 	


#slideshow { 
    margin:0; 
    position: relative; 
    width: 100%; 
    // height: auto; 
}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left:0px; 
    right: 0px; 
    bottom: 0px; 
}











//////////////////////////////////////////////

///////////////////////////////////aboutCSS///




.wrapper_about {
    background-color: #292B24;
    margin:0;
    height:100vh;
}


.about{
    color:white;
    margin:auto;
    display:flex;
    justify-content:space-around;
    align-items:center;

}

.wrapper_about h4{
    margin:0;
}

.about p {
    width:500px;
}






