@import 'normalize';


.wrapper {
	background-color: black;
	display:block;

}


////logo///

.logo a {
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
    color: gray;
    font-size: large;
}


.logo{
	margin-left: 25px;
	padding-top: 15px;
	margin-bottom: 35px;
	width: 180px;
	height: auto;

    // font-family: 'Kaushan Script', cursive;

}

.logo img{
	width: 100%;
}

///////////////NAV////////

nav{



}

nav ul {
    margin-top: 0;
    background-color: white;
    width: 120px;
    opacity: 0.4;
    height: 100vh;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display:flex;
	flex-direction:column;

	
}

nav li {
	margin-bottom: 50px;
    margin-left: 30px;

   
}



.material-icons{
    // color: #66FF66;
    color: black;


}

.material-icons:hover {
    color: #C4E1AB;


}


nav li a {

    text-decoration: none;


}






















///////////slideshow///////////////
.header_image{

}


.header_image img{
	top:0;
	left:0;
	max-width: 100%;

}










// .marquee{
// 	font-family: 'Kaushan Script', cursive;
// 	


#slideshow { 
    margin:0; 
    position: relative; 
    width: 100%; 
    // height: auto; 
}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left:0px; 
    right: 0px; 
    bottom: 0px; 
}











//////////////////////////////////////////////

///////////////////////////////////aboutCSS///




.wrapper_about {
    background-color: #1B1A16;
    margin:0;
    height:100vh;
}


.about img {
    width: 300px;
}

.wrapper_about h4{
    text-align: center;
    color: white;
    padding-top: 100px;
    margin:0;
    font-size: 40px;
}


.about{
    color:white;
    margin:auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 80px;
    text-align: justify;
    line-height: 22px;
}




.about p {
    width:500px;
}


///////////////////////////////////////lighting////



.wrapper_lighting{
    background-color: #1B1A16;

    margin-top:0;
    width: 100%;
    height: 100%;

}


.wrapper_lighting h4 {
    text-align: center;
    color: white;
    padding-top: 100px;
    margin:0;
    font-size: 40px;
}


.lightingcontent{
    color:white;
    margin:auto;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 80px;
    text-align: justify;
}


.lightingcontent a {
     text-decoration: none;
     color: #C4E1AB;
}

.lightingcontent a:hover {
     text-decoration: none;
     color: purple;

}

.lightingcontent i{
    color: #C4E1AB;
}



///////////////////////////////////////furniture////




.wrapper_furniture {

    background-color: #1B1A16;
    margin-top:0;
    width: 100%;
    height: 100%;

}



.wrapper_furniture h4 {
    text-align: center;
    color: white;
    padding-top: 100px;
    margin:0;
    font-size: 40px;
}

.furniture {
    color:white;
    margin:auto;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 80px;
    text-align: justify;

}


.furniture a {
     text-decoration: none;
     color: #C4E1AB;
}

.furniture a:hover {
     text-decoration: none;
     color: purple;

}





//////////////////////////////////////wallcoverings////




.wrapper_wallcoverings {

    background-color: #1B1A16;
    margin-top:0;
    width: 100%;
    height: 100vh;

}



.wrapper_wallcoverings h4 {
    text-align: center;
    color: white;
    padding-top: 100px;
    margin:0;
    font-size: 40px;
}

.wallcoverings {
    color:white;
    margin:auto;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 80px;
    text-align: justify;

}


.wallcoverings a {
     text-decoration: none;
     color: #C4E1AB;
}

.wallcoverings a:hover {
     text-decoration: none;
     color: purple;

}



//////////////////////////////////////wallcoverings////




.wrapper_fabric {

    background-color: #1B1A16;
    margin-top:0;
    width: 100%;
    height: 100vh;

}



.wrapper_fabric h4 {
    text-align: center;
    color: white;
    padding-top: 100px;
    margin:0;
    font-size: 40px;
}

.fabric {
    color:white;
    margin:auto;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 80px;
    text-align: justify;

}


.fabric a {
     text-decoration: none;
     color: #C4E1AB;
}

.fabric a:hover {
     text-decoration: none;
     color: purple;

}

















